@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 12px;
  height: 10px;
  
}

::-webkit-scrollbar-track{
  background-color: rgba(21, 21, 21);
  
}

::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 0);
}



/* BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-BORDERS-*/

.top-left-round{
  border-top-left-radius: 6px;
}

.top-right-round{
  border-top-right-radius: 6px;
}

.bottom-right-round{
  border-bottom-right-radius: 6px;
}

.bottom-left-round{
  border-bottom-left-radius: 6px;
}

/*FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-*/

.font-black-outline-light{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgb(0, 0, 0) 1px 0 4px,
  rgb(0, 0, 0) 1px 0 2px ; 
}



.font-black-outline-strong{
  text-shadow: -1px 4px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgb(0, 0, 0) 4px 0 10px,
  rgb(62, 62, 62) 4px 0 10px ; 
}

.font-shadow-white{
  text-shadow:rgba(255, 255, 255, 0.87) 0px 0 4px,
  rgb(255, 255, 255) 0px 0 50px ;
}

.font-shadow-white-light{
  text-shadow:
  rgba(255, 255, 255, 0.87) 0px 0 4px,
  rgb(255, 255, 255) 0px 0 10px ;
}

.font-black-outline-white-shadow{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgba(255, 255, 255, 0.87) 0px 0 4px,
  rgb(255, 255, 255) 0px 0 50px ; 
}

.font-bg-gradient {
  background:linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.6)), url(./background-images/stripes.webp);
  background-position: cover;
  background-size: 125px;
  background-clip: text;
  
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
}

.menu:hover{
  
  text-shadow:rgba(255, 255, 255, 0.87) 0px 0 4px,
  rgb(255, 255, 255) 0px 0 50px ;
  
}

/* BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-*/

.bg-dev-centered{
  background:
  linear-gradient(
    rgba(127, 127, 127, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(127, 127, 127, 0.3))
  ,url(./background-images/dev-pattern.png);
  
  background-position: center;
  background-size: 75px;
  
}

.bg-dev-centered-reversed{
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(7, 14, 53, 0.2),
    rgba(0, 0, 0, 0.7))
  ,url(./background-images/dev-pattern.png);
  
  background-position: center;
  background-size: 75px;
  
}

.bg-dev-bottom-dark{
  background:
  linear-gradient(rgba(127, 127, 127, 0.3), rgba(0, 0, 0, 0.3)),url(./background-images/dev-pattern.png);
  background-position: center;
  background-size: 75px;
  
}

.bg-dev-top-dark{
  background:
  linear-gradient( rgba(0, 0, 0, 0.6), rgba(7, 14, 53, 0.2)),url(./background-images/dev-pattern.png);
  background-position: center;
  background-size: 80px;
  
}

.bg-dev-overall{
  background:
  linear-gradient( rgba(7, 14, 53, 0.2), rgba(7, 14, 53, 0.2)),url(./background-images/dev-pattern.png);
  background-position: center;
  background-size: 80px;
  
}

.bg-edgescout{
  background-image:
  linear-gradient( rgba(10, 10, 10, 0.2), rgba(0, 0, 0, 0.2)),url(./images/edgescout.png);
  background-position: center;
  background-size: cover;
}

.bg-edgescout-black{
  background:
  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(./images/edgescout.png);
  
  background-position: center;
  background-size: cover;
  
}

.bg-striped-content{
  
  background:linear-gradient(rgba(40, 40, 40, 0.78), rgba(0, 0, 0, 0.85)), url(./background-images/striped-mesh.jpg);
  background-position: cover;
  background-size: 500px;
  
}

.bg-striped-content-red{
  
  background:linear-gradient(rgba(83, 0, 0, 0.85), rgba(105, 0, 0, 0.85)), url(./background-images/striped-mesh.jpg);
  background-position: cover;
  background-size: 500px;
  
}

.bg-striped-content-big{
  background:linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(./background-images/striped-mesh.jpg);
  background-position: cover;
  background-size: 800px;
}



.corners:before, 
.corners:after, 
.corners>:last-child:before, 
.corners>:last-child:after {
    position: absolute;
    width: 10px; 
    height: 10px;
    border-color: rgb(0, 0, 0); 
    border-style: solid;
    content: ' ';
    opacity: 0.4;
    
}

.corners:before {
    top: 20px;
    left: 20px;
    border-width: 2px 0 0 2px
}

.corners:after {
    top: 20px;
    right: 20px;
    border-width: 2px 2px 0 0
}

.corners>:last-child:before {
    bottom: 20px;
    right: 20px;     
    border-width: 0 2px 2px 0
}

.corners>:last-child:after {
    bottom: 20px;
    left: 20px;
    border-width: 0 0 2px 2px
}

.top-neg-5{
  top: -1.25rem
}
.top-neg-20{
  top: -5rem;
}

.max-height-125{
  max-height: 125%;
}

.w-initial{
  width: initial;
}

.PRO-ONE-DIV{
  
}

.BULB{
  
  transition: top ease-in 800ms;

}

.TOP-BULB{
  top: -10%;
}
.PROJECT-SECTION{
  width: 50%;
}

.PROJECT-CONTAINER{
  grid-template-columns: repeat(2, 1fr);
  
}




.TITLE{
  grid-column:1/2;
  grid-row: 1/2;
}

.DEMO{
  grid-column: 1/4;
  grid-row: 1/2;
}

.INSIDE-INFO{
  display: none;
  height: 25%;
  width: 15%;
}

.DETAIL{
  
  grid-column: 1/2;
  grid-row: 2/3;
  
}

.FEATURE{
  
  grid-column: 2/3;
  grid-row: 2/3;
  
}

.TOOLS{
  grid-column: 2/3;
  grid-template-columns: repeat(6, 1fr);
}

.PROJECT-ONE-IMAGE {
  background:linear-gradient(rgba(40, 40, 40, 0.78), rgba(0, 0, 0, 0.85)), url(./images/dummyimage.png);
  background-position: cover;
  background-size:auto;
}

.INTRO-DEV{
  font-size: 0.9rem;
}



@media (max-width: 1440px) {
  .PROJECT-SECTION{
    width: 60%;
  }
  .TOOLS{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1200px) {
  .INSIDE-INFO{
    display:inherit;
  }
  .SIDE-INFO{
    display: none;
  }
  .PROJECT-SECTION{
    width: 70%;
  }
  
}

@media (max-width: 992px) {
  .PROJECT-SECTION{
    width: 80%;
  }
}

@media (max-width: 768px) {
  .PROJECT-SECTION{
    width: 90%;
  }
  .PROJECT-CONTAINER  {
    grid-template-columns: 1fr;
  }
  .DEMO{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .DETAIL{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .FEATURE{
    grid-column: 1/2;
    grid-row: 3/4;
    
  }
}

@media (max-width: 480px) {
  .PROJECT-CONTENT-RIGHT {
    grid-template-columns: 1fr;
  }
  .DETAIL{
    height: 24rem;
  }
  .INTRO-DEV{
    font-size: 0.5rem;
  }
  
  .INTRO-NAME{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  
}

@media (max-width: 300px) {
  .APP{
    width: 300px;
  }
  
  
  .PROJECT-CONTENT-RIGHT {
    grid-template-columns: 1fr;
  }
  .DETAIL{
    height: 24rem;
  }
  .TOOLS{
    grid-template-columns: repeat(3, 1fr);
  }
}


.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}