@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  
}

::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(52, 58, 77, 0.5);
  border-radius: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.25) inset !important;
    
    
}

input:focus, textarea:focus{
  outline: none;
}




/*FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-FONT-SHADOWS-*/

.font-black-outline-light{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgb(0, 0, 0) 1px 0 4px,
  rgb(0, 0, 0) 1px 0 2px ; 
}

.font-green-outline{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 255, 132);
}

.font-red-outline-light{
  text-shadow: -1px 1px 0 #6a0000, 1px 1px 0 #6a0000, 1px -1px 0 #6a0000, -1px -1px 0 #6a0000, rgb(114, 0, 0) 1px 0 4px,
  rgb(113, 0, 0) 1px 0 2px ; 
}



.font-black-outline-strong{
  text-shadow: -1px 4px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgb(0, 0, 0) 4px 0 10px,
  rgb(62, 62, 62) 4px 0 10px ; 
}

.font-shadow-white{
  text-shadow:rgba(255, 255, 255, 0.87) 0px 0 4px,
  rgb(255, 255, 255) 0px 0 50px ;
}

.font-shadow-white-light{
  text-shadow:
  rgba(255, 255, 255, 0.87) 0px 0 4px,
  rgb(255, 255, 255) 0px 0 10px ;
}

.font-black-outline-white-shadow{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgba(255, 255, 255, 0.87) 0px 0 4px,
  rgb(255, 255, 255) 0px 0 50px ; 
}

.font-bg-gradient {
  background:linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.6)), url(./background-images/stripes.webp);
  background-position: cover;
  background-size: 125px;
  background-clip: text;
  
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
}

.menu:hover{
  
  text-shadow:rgba(255, 255, 255, 0.87) 0px 0 4px,
  rgb(255, 255, 255) 0px 0 50px ;
  
}
.home-text{
  font-family: FieldGothic, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: clamp(2rem, 22vw, 30rem);
  line-height: 0.8;
}


.text-glow-white{
  text-shadow:rgba(255, 255, 255, 0.87) 0px 0 1px,
  rgb(255, 255, 255) 0px 0 4px ;
}

.text-glow-red{
  text-shadow:rgba(255, 0, 0, 0.6) 0px 0 2px,
  rgba(255, 1, 1, 0.564) 0px 0 10px ;
}

.text-glow-oj{
  text-shadow:rgba(255, 136, 0, 0.6) 0px 0 2px,
  rgba(255, 94, 0, 0.564) 0px 0 10px ;
}

.border-glow-white{
  box-shadow:rgba(255, 255, 255, 0.87) 0px 0 2px,
  rgba(255, 255, 255, 0.2) 0px 0 25px ;
}

.border-glow-yellow{
  box-shadow:rgba(255, 179, 0, 0.87) 0px 0 2px,
  rgba(255, 230, 0, 0.2) 0px 0 15px ;
}

.border-glow-blue{
  box-shadow:rgba(0, 102, 255, 0.87) 0px 0 2px,
  rgba(0, 94, 255, 0.2) 0px 0 15px ;
}

.border-glow-emerald{
  box-shadow:rgba(5, 255, 184, 0.87) 0px 0 2px,
  rgba(5, 255, 193, 0.2) 0px 0 15px ;
}

.border-glow-emerald-long{
  box-shadow:rgba(5, 255, 184, 0.87) 0px 0 0px,
  rgba(5, 255, 193, 0.75) 0px 0 50px ;
}

.border-glow-red{
  box-shadow:rgba(255, 0, 0, 0.6) 0px 0 2px,
  rgba(255, 0, 0, 0.2) 0px 0 25px ;
}

.border-glow-red-intro{
  box-shadow:rgba(255, 0, 0, 0.8) 0px 0 2px,
  rgba(255, 1, 1, 0.4) 0px 0 25px ;
  
}


.border-glow-red-no-line{
  box-shadow:rgba(255, 0, 0, 0.6) 0px 0 0px,
  rgba(255, 0, 0, 0.2) 0px 0 25px ;
}

.border-glow-oj{
  box-shadow:rgba(255, 136, 0, 0.6) 0px 0 2px,
  rgba(255, 94, 0, 0.2) 0px 0 25px ;
}



/* BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-BACKGROUNDS-*/
.bg-striped-dark-thick{
  background: repeating-linear-gradient( 
  45deg,
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1) 2px,
  rgba(0, 0, 0, 0.3) 2px,
  rgba(0, 0, 0, 0.3) 10px)
  
}

.bg-striped-dark-thick-red{
  background: repeating-linear-gradient( 
  45deg,
  rgba(0, 0, 0, 0.1),
  rgba(26, 0, 0, 0.1) 2px,
  rgba(75, 0, 0, 0.3) 2px,
  rgba(29, 0, 0, 0.3) 10px)
  
}

.bg-striped-dark-alt{
  background: repeating-linear-gradient( 
  45deg,
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1) 2px,
  rgba(0, 0, 0, 0.3) 2px,
  rgba(0, 0, 0, 0.3) 4px)
  
}

.bg-striped-dark-alt-yellow{
  background: repeating-linear-gradient( 
  45deg,
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1) 2px,
  rgba(255, 221, 0, 0.3) 2px,
  rgba(255, 221, 0, 0.3) 6px)
  
}

.bg-striped-dark-alt-darker{
  background: repeating-linear-gradient( 
  45deg,
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1) 2px,
  rgba(0, 0, 0, 0.5) 2px,
  rgba(0, 0, 0, 0.5) 4px)
  
}

.bg-dev-classic{
  background:
  repeating-linear-gradient(
     rgba(12, 10, 5, 0.5), rgba(1, 8, 17, 0.5)
     )
     ,url(./background-images/dev-pattern.png);
  background-position: center;
  background-size: 69px;
  background-repeat:repeat;
  
}

.bg-jet-light{
  background-color: #111;
}


.bg-edgescout{
  background-image:
  url(./images/edgescout.png);
  background-position: center;
  background-size: cover;
}

.bg-edgescout-black{
  background:
  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(./images/edgescout.png);
  
  background-position: center;
  background-size: cover;
  
}

.bg-dna::before {
  content: "";
  background-image: url("./images/dna.png");
  background-position: center;
  background-size: 26px;
  background-repeat: round;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: 0;
}

.bg-hammer::before {
  content: "";
  background-image: url("./images/hammer-wrench.png");
  background-position: center;
  background-size: 64px;
  background-repeat:space;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.025;
  z-index: 0;
}

.bg-dna-big::before {
  content: "";
  background-image: url("./images/dna-alt.png");
  background-position: center;
  background-size: 64px;
  background-repeat: space;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.025;
  z-index: 0;
}

.bg-at::before {
  content: "";
  background-image: url("./images/at-custom.png");
  background-position: center;
  background-size: 64px;
  background-repeat:space;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.025;
  z-index: 0;
}






.bg-striped-content{
  
  background:linear-gradient(rgba(40, 40, 40, 0.78), rgba(0, 0, 0, 0.85)), url(./background-images/striped-mesh.jpg);
  background-position: cover;
  background-size: 500px;
  
}

.bg-striped-content-red{
  
  background:linear-gradient(rgba(83, 0, 0, 0.85), rgba(105, 0, 0, 0.85)), url(./background-images/striped-mesh.jpg);
  background-position: cover;
  background-size: 500px;
  
}

.bg-striped-content-big{
  background:linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(./background-images/striped-mesh.jpg);
  background-position: cover;
  background-size: 800px;
}

.bg-striped-white{
  background: repeating-linear-gradient( 
  45deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.1) 5px,
  rgba(0, 0, 0, 0.3) 5px,
  rgba(0, 0, 0, 0.3) 10px)
}


.bg-striped-3{
  background: repeating-linear-gradient( 
  45deg,
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1) 5px,
  rgba(0, 0, 0, 0.3) 5px,
  rgba(0, 0, 0, 0.3) 10px)
}

.bg-striped-2{
  background: repeating-linear-gradient( 
  45deg,
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1) 5px,
  rgba(0, 0, 0, 0.2) 5px,
  rgba(0, 0, 0, 0.2) 10px)
}

.bg-blur{
  backdrop-filter: blur(5px);
}

.res-font{
  font-size: clamp(50px, 8vw, 120px)
}

.top-neg-5{
  top: -1.25rem
}
.top-neg-20{
  top: -5rem;
}

.max-height-125{
  max-height: 125%;
}



.w-initial{
  width: initial;
}

.PRO-ONE-DIV{
  
}

.BULB{
  
  transition: top ease-in 800ms;
}

.TOP-BULB{
  top: -10%;
}

.WINDOW{
  height: 50%;
}



.WARMLIGHT-PROJECTS{
  top: 20%;
  opacity: 1;
  width: initial;
  height: initial;
}

.WARMLIGHT-ABOUT{
  top: 69%;
  opacity: 0.5;
  filter: grayscale(80%);
}
.SILHOUTTE{
  max-height: 70dvh;
  min-height: 40rem;
}

.HOME-SCREEN{
  min-height: -webkit-fill-available;
}

.PROJECT-SECTION, .ABOUT-SECTION{
  width: 100%;
}

.PROJECT-IMAGE-1{
  background-image: url("./images/edgescoutproject.png");
  background-position: top;
  background-size: cover;
}


.CONTACT-FORM > input, .CONTACT-FORM > textarea, .CONTACT-FORM > button {
  width: 90%;
}

.TITLE{
  grid-column:1/2;
  grid-row: 1/2;
}

.INSIDE-INFO{
  display: none;
  height: 25%;
  width: 15%;
}

.TOOLS{
  grid-column: 2/3;
  grid-template-columns: repeat(6, 1fr);
}

.PROJECT-ONE-IMAGE {
  background:linear-gradient(rgba(40, 40, 40, 0.78), rgba(0, 0, 0, 0.85)), url(./images/dummyimage.png);
  background-position: cover;
  background-size:auto;
}

.INTRO-DEV{
  
}



@media (max-width: 1440px) {
  .max-width-1440px-grid-cols-1{
    grid-template-columns: 1fr;
  }
  .max-width-1440px-w-50pct{
    width: 50%;
  }
  .TOP-BULB{
    top: 0%;
  }
  .TOOLS{
    grid-template-columns: repeat(3, 1fr);
  }
  .ABOUT-SKILLS-TEXT{
    display: none;
  }
}
@media (max-width: 1200px) {
  .max-width-1200px-w-60pct{
    width: 60%;
  }
  .INSIDE-INFO{
    display:inherit;
  }
  .WINDOW{
    height: 25%;
  }
  
}



@media (max-width: 768px) {
  .max-height-screen-10{
    max-height: calc(100vh - 3rem);
    
  }
  .max-width-768px-left-0{
    left: 0px;
  }
  .max-width-768px-overflow-visible{
    overflow: visible;
  }
  .max-width-768px-width-full {
    width: 100%;
  }
  .max-width-768px-neg-top-full {
    top: 200%;
    
  }
  .max-width-768px-gap-x-none{
    column-gap: 0.75rem;
  }
  
  .PROJECT-SECTION, .ABOUT-SECTION, .CONTACT-SECTION {
    width: 90%;
  }
  .PROJECT-CONTAINER, .ABOUT-CONTAINER  {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .DEMO{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .DETAIL{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .FEATURE{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .SIDE-INFO{
    display: none;
  }
  

}

@media (max-width: 480px) {
  .max-width-480px-flex-col{
    flex-direction: column;
  }
  .max-width-480px-border-none{
    border: none;
  }
  .PROJECT-CONTENT-RIGHT {
    grid-template-columns: 1fr;
  }
  .DETAIL{
    height: 24rem;
  }
  /*
  .INTRO-DEV{
    font-size: 0.5rem;
  }
  
  .INTRO-NAME{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  */
  .res-font{
    font-size:xx-large;
  }
  
  .SILHOUTTE{
    object-fit: cover;
  }
  
}

@media (max-width: 300px) {
  .APP{
    width: 300px;
  }
  
  .PROJECT-CONTENT-RIGHT {
    grid-template-columns: 1fr;
  }
  .DETAIL{
    height: 24rem;
  }
  .TOOLS{
    grid-template-columns: repeat(3, 1fr);
  }

  .res-font{
    font-size:large;
  }
}


.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*UTILITY-UTILITY-UTILITY-UTILITY-UTILITY-UTILITY-UTILITY-UTILITY-UTILITY-UTILITY-UTILITY-UTILITY-*/

.flip{
  transform: scaleX(-1);
}



