@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: bender;
  src: url(./fonts/font.woff2);
}

@font-face {
  font-family: Rajdhani;
  src: url(./fonts/Rajdhani-Medium.ttf);
}
html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: both mandatory;
  margin: 0;
  font-family: Rajdhani, bender, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
